@using Assignment2_Blogs.Models
@model Admin
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron vertical-center" style="background:none;">
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <h1 class="text-center bg-dark text-white border rounded-pill p-2">Admin Login</h1>
                    <br />
                    <form method="post" asp-controller="Admin" asp-action="index">
                        <div class="form-group">
                            <label asp-for="name">
                                Username:
                            </label>
                            <input class="form-control" asp-for="name" />
                            <span asp-validation-for="name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="password">
                                Password:
                            </label>
                            <input class="form-control" asp-for="password" />
                            <span asp-validation-for="password"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-center"></div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-dark">
                                Login
                            </button>
                        </div>
                        <br />
                        <div class="text-center">
                            <a asp-controller="Blog" asp-action="index">Go to user login.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>